<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <pipelines>
            <initialize>
                <processor type="Sitecore.Feature.WebApi.Infrastructure.RegisterRoutes, Sitecore.Feature.WebApi" 
                           patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" resolve="true"/>
            </initialize>
        </pipelines>
        <services>
            <register serviceType="Sitecore.Feature.WebApi.Repositories.IRepository, Sitecore.Feature.WebApi" 
                      implementationType="Sitecore.Feature.WebApi.Repositories.VacanciesRepository, Sitecore.Feature.WebApi" />
        </services>
    </sitecore>
</configuration>